*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:Segoe UI;
background:#f4f6f9;
}

.app{
display:flex;
min-height:100vh;
}

.sidebar{
width:280px;
background:#153a5b;
color:white;
padding:30px;
}

.sidebar h1{
margin-bottom:20px;
}

.sidebar p{
margin-bottom:30px;
}

.sidebar button{

width:100%;

padding:15px;

margin-bottom:10px;

border:none;

border-radius:10px;

cursor:pointer;

}

.contenido{

flex:1;

padding:50px;

}

.card{

background:white;

padding:30px;

border-radius:15px;

box-shadow:0 5px 15px rgba(0,0,0,.1);

}

.item{

background:white;

padding:20px;

margin-top:15px;

border-radius:10px;

}